

<div class= "container " >

  <div class="row-centered" *ngFor="let res of restaurants" >
<!-- List #1 Starts -->
<div class="list-box clearfix col-lg-16 col-centered">
 
  <!-- List Descriptions Starts -->
    <div class="pull-left-lg pull-left-md list-box-info ">
      <h5 class="list-box-info-title"><a href="#">{{res.name}}</a></h5>
      <ul class="list-unstyled list-inline list-box-info-tags" >
        <li *ngFor="let food of res.foods">{{food}}</li>
        
      </ul>
      <ul class="list-unstyled list-inline list-box-info-description text-bold">
        <li><span>Delivery In</span><br> 1h  15min</li>
        <li><span>Delivery Fee</span><br> $5.00</li>
        <li><span>Min Order</span><br> $30.00</li>
        <li><span>Distance</span><br> 1.2 miles</li>
      </ul>
      <ul class="list-unstyled list-inline list-box-info-links">
        <li><i class="fa fa-tag"></i> <a href="#">Coupons (0)</a></li>
        <li><i class="fa fa-info-circle"></i> <a href="#">Information</a></li>
        <li><i class="fa fa-star-half-full"></i> <a href="#">Food Reviews</a></li>
        <li><i class="fa fa-asterisk"></i> <a href="#">Our Special</a></li>
      </ul>
    </div>
  <!-- List Descriptions Ends -->
  <!-- List Right Col Starts -->
    <div class="pull-left-lg pull-left-md right-col text-right text-center-sm text-center-xs col-lg-2">
      <ul class="list-unstyled list-inline list-box-ratings">
        <li class="star-rating">
          <i class="fa fa-star" data-rating="1"></i>
          <i class="fa fa-star" data-rating="2"></i>
          <i class="fa fa-star" data-rating="3"></i>
          <i class="fa fa-star-o" data-rating="4"></i>
          <i class="fa fa-star-o" data-rating="5"></i>
        </li>
        <li>45 Ratings</li>
        <li><a href="#" class="badge animation"><i class="fa fa-heart"></i> 10</a></li>
      </ul>
      <h6 class="sub-title"><i class="fa fa-certificate"></i> Flat 10% Off</h6>
      <a href="#" class="btn btn-secondary animation">
        Details <i class="fa fa-chevron-right"></i>
      </a>
    </div>
  <!-- List Right Col Ends -->
  </div>
<!-- List #1 Ends -->


  </div>

 

</div>