
<!-- News & Events Section Starts -->
<section class="news-event-teaser section text-center-xs">
  <!-- Nested Container Starts -->
    <div class="container">
      <h1 class="text-light">News &amp; Events</h1>
    <!-- Nested Row Starts -->
      <div class="row">
      <!-- News #1 Teaser Starts -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <article class="news-block">
          <!-- News Heading Starts -->
            <div class="clearfix">
              <div class="news-meta">
                <h2 class="date text-bold">15</h2>
                <h5 class="month text-uppercase">Jan</h5>
              </div>
              <h6 class="text-normal"><a href="#">Lorem Ipsum is simply dummy text of the printing..</a></h6>	
            </div>
          <!-- News Heading Ends -->
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using..
            </p>
            <a href="#" class="btn btn-secondary text-uppercase text-ultra-bold animation">More</a>
          </article>
        </div>
      <!-- News #1 Teaser Ends -->
      <!-- News #2 Teaser Starts -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <article class="news-block">
          <!-- News Heading Starts -->
            <div class="clearfix">
              <div class="news-meta">
                <h2 class="date text-bold">20</h2>
                <h5 class="month text-uppercase">Feb</h5>
              </div>
              <h6 class="text-normal"><a href="#">Lorem Ipsum is simply dummy text of the printing..</a></h6>	
            </div>
          <!-- News Heading Ends -->
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using..
            </p>
            <a href="#" class="btn btn-secondary text-uppercase text-ultra-bold animation">More</a>
          </article>
        </div>
      <!-- News #2 Teaser Ends -->
      <!-- News #3 Teaser Starts -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <article class="news-block">
          <!-- News Heading Starts -->
            <div class="clearfix">
              <div class="news-meta">
                <h2 class="date text-bold">07</h2>
                <h5 class="month text-uppercase">Mar</h5>
              </div>
              <h6 class="text-normal"><a href="#">Lorem Ipsum is simply dummy text of the printing..</a></h6>	
            </div>
          <!-- News Heading Ends -->
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using..
            </p>
            <a href="#" class="btn btn-secondary text-uppercase text-ultra-bold animation">More</a>
          </article>
        </div>
      <!-- News #3 Teaser Ends -->
      </div>
    <!-- Nested Row Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- News & Events Section Ends -->