<!-- Header Starts -->
<header class="main-header">
  <!-- Nested Container Starts -->
    <div class="container text-center-xs">
    <!-- Nested Row Starts -->
      <div class="row">
        <div class="col-sm-4 col-xs-12">
        <!-- Logo Starts -->
          <img  src="" alt="FoodBingo" class="logo img-responsive img-center-xs">
        <!-- Logo Ends -->
        </div>
        <div class="col-sm-8 col-xs-12">
       
        <!-- Starts -->
          <ul class="list-unstyled list-inline text-right-lg text-right-md text-right-sm order-info">
            <li class="lead"><i class="fa fa-phone"></i> Call : 001 9876 543 210</li>
            <li class="hidden-xs">&nbsp;</li>
            <li><a href="#" class="btn btn-light animation">Order Food Online!</a></li>
          </ul>
        <!-- Ends -->
        </div>
      </div>
    <!-- Nested Row Ends -->
    </div>
  <!-- Nested Container Ends -->
  </header>
<!-- Header Ends -->

