<div class="modal fade in" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" style="display: block; padding-left: 0px;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content no-boxshadow text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title text-spl-color" id="registerModalLabel">Register Here</h4>
      </div>
      <div class="modal-body">
        <!-- Register Form Starts -->
        <form>
          <div class="form-group">
            <label class="sr-only" for="register-fname">First Name</label>
            <input type="text" class="form-control" id="register-fname" placeholder="First Name">
          </div>
          <div class="form-group">
            <label class="sr-only" for="register-lname">Last Name</label>
            <input type="text" class="form-control" id="register-lname" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label class="sr-only" for="register-address">Last Name</label>
            <textarea class="form-control" id="register-address" placeholder="Address" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label class="sr-only" for="register-zipcode">Zip Code</label>
            <input type="text" class="form-control" id="register-zipcode" placeholder="Zip Code">
          </div>
          <div class="form-group">
            <label class="sr-only" for="register-country">Country</label>
            <select class="form-control" id="register-country">
              <option>Country</option>
              <option>India</option>
              <option>USA</option>
              <option>China</option>
              <option>Australia</option>
            </select>
          </div>
          <div class="form-group">
            <label class="sr-only" for="register-phoneno">Phone No</label>
            <input type="text" class="form-control" id="register-phoneno" placeholder="Phone No">
          </div>
          <div class="form-group">
            <label class="sr-only" for="register-email">Email address</label>
            <input type="email" class="form-control" id="register-email" placeholder="Email">
          </div>
          <div class="form-group">
            <label class="sr-only" for="register-password">Password</label>
            <input type="password" class="form-control" id="register-password" placeholder="Password">
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Yes, I would like to receive emails with deals and discount codes
              </label>
            </div>
            <p class="help-block">By logging in I agree to the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>
          </div>
          <button type="submit" class="btn btn-lg btn-block btn-tertiary animation">
            Continue To Register <i class="fa fa-caret-right"></i>
          </button>
        </form>
        <!-- Register Form Ends -->
      </div>
    </div>
  </div>
</div>
