
<!--this is the header portion of our application. it consists the logo and the contact 
number of our application-->
<app-header></app-header>

<!--this component is the navigation bar. it consists the links to several other components.
-->
<app-nav></app-nav>

<!--this is the search section of our application. 
    users can search the resturants using this section-->
<app-search-section></app-search-section>

<router-outlet></router-outlet>

<!-- tis is the static component for this version. 
    Mainly it consist of the welcome messages and news and events-->
<app-home-body-section></app-home-body-section>

<!--This is the footer section-->
<app-footer-section></app-footer-section>

<!-- <app-restaurant-home-section></app-restaurant-home-section> -->
<!-- <app-user-dashboard-section></app-user-dashboard-section> -->
