<!-- Main Menu Starts -->
<nav id="nav" class="main-menu navbar flat">
  <!-- Nested Container Starts -->
    <div class="container">
    <!-- Nav Header Starts -->
      <div class="navbar-header">
        <button type="button" class="btn btn-navbar navbar-toggle flat animation" data-toggle="collapse" data-target=".navbar-cat-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <i class="fa fa-bars"></i>
        </button>
      </div>
    <!-- Nav Header Ends -->
    <!-- Navbar Cat collapse Starts -->
      <div class="collapse navbar-collapse navbar-cat-collapse">
        <ul class="nav navbar-nav text-uppercase text-bold">
          <li class="active"><a href="">Home</a></li>
          <li><a href="">About Us</a></li>
          <li><a [routerLink]="['/restaurants/']">Top Restaurants</a></li>
          <li><a [routerLink]="['login']">Login &amp; Register</a></li>
          <li><a [routerLink]="['profile']">Dashboard</a></li>
          <li><a [routerLink]="['restaurant-home']">restaurant home</a></li>

          <li><a id="logoutBtn" (click) = "OnLogout()">Logout</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu flat pull-right-md pull-right-sm">
              <li><a tabindex="-1" href=""><i class="fa fa-angle-right"></i> Terms</a></li>
              <li><a tabindex="-1" href=""><i class="fa fa-angle-right"></i> Policy</a></li>
              <li><a tabindex="-1" href=""><i class="fa fa-angle-right"></i> Contact Us</a></li>
            </ul>
          </li>
        </ul>
      </div>
    <!-- Navbar Cat collapse Ends -->
    </div>
  <!-- Nested Container Ends -->
  </nav>
<!-- Main Menu Ends -->
