<section class="intro-section">
  <!-- Nested Container Starts -->
    <div class="container text-center">
    <!-- Nested Row Starts -->
      <div class="row">
      <!-- #1 Starts -->
        <div class="col-md-3 col-xs-6">
          <i class="fa fa-flash circle"></i>
          <h6>Lightning Fast Delivery</h6>
        </div>
      <!-- #1 Ends -->
      <!-- #2 Starts -->
        <div class="col-md-3 col-xs-6">
          <i class="fa fa-glass circle"></i>
          <h6>No Minimum Order</h6>
        </div>
      <!-- #2 Ends -->
      <!-- Clearfix Starts -->
        <div class="clearfix visible-sm-block visible-xs-block"><p>&nbsp;</p></div>
      <!-- Clearfix Ends -->
      <!-- #3 Starts -->
        <div class="col-md-3 col-xs-6">
          <i class="fa fa-credit-card circle"></i>
          <h6>Pay via Card/Cash</h6>
        </div>
      <!-- #3 Ends -->
      <!-- #4 Starts -->
        <div class="col-md-3 col-xs-6">
          <i class="fa fa-dollar circle"></i>
          <h6>Deals Discounts</h6>
        </div>
      <!-- #4 Ends -->
      </div>
    <!-- Nested Row Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- Intro Section Ends -->