<!-- Download App Section Starts -->
<section class="dowload-app text-center-sm text-center-xs">
  <!-- Nested Container Starts -->
    <div class="container">
    <!-- Nested Row Starts -->
      <div class="row">
        <div class="col-md-8 col-xs-12 col-md-push-4">
          <div class="content">
            <h3>The Best FoodBingo Delivery App!</h3>
            <h5>Download our free iOS, Windows phone and Android App and order food online the fastest way possible.</h5>
            <ul class="list-unstyled list-inline">
              <li>
                <a href="#"><img src="assets/images/badge/apple-badge.png" alt="Download on app store" class="img-responsive"></a>
              </li>
              <li>
                <a href="#"><img src="assets/images/badge/google-play-badge.png" alt="Get it on Google Play" class="img-responsive"></a>
              </li>
              <li>
                <a href="#"><img src="assets/images/badge/windows-badge.png" alt="Download from windows phone store" class="img-responsive"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-md-offset-1 col-md-pull-8">
          <img src="assets/images/mockups/mobile-mockup.png" alt="App Mobile Mockup" class="img-responsive img-center-sm img-center-xs">
        </div>
      </div>
    <!-- Nested Row Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- Download App Section Ends -->