<div class = "container main-container">
  <h3 class="main-heading-1 text-center-sm text-center-xs">
   Hyderabad Special Food Dabha, Begumpet
  </h3>


   <!-- Spacer Starts -->
   <div class="spacer-1 condensed"></div>
   <!-- Spacer Ends -->


  <!-- 
    division for the table in the lefr and the chart for total price

   -->
 <div class= "row">
    
  

      <div class="col-md-9 col-xs-12">

          <h5 class="main-heading-2 text-center-sm text-center-xs ">
              Foods Available
             </h5>

             

          <table class="table table-hover h4  ">
              <thead class= "text-center">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Cuisines</th>
                  <th scope="col">Price</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>
                      <a href="" class="btn btn-info btn-md">
                          <span class="glyphicon glyphicon-shopping-cart"></span> Order
                        </a>
                  </td>
                </tr>
                
              </tbody>
            </table>
      </div>

      <div class="col-md-3 col-xs-12">
      
          <div class="side-block-order border-radius-4">
              <!-- Heading Starts -->
                <h6 class="text-center"><i class="fa fa-shopping-basket"></i> Your Orders</h6>
              <!-- Heading Ends -->
              <!-- Order Content Starts -->
                <div class="side-block-order-content">
                <!-- Order Item List Starts -->
                  <ul class="list-unstyled order-item-list">
                    <li class="clearfix">
                      <span class="pull-left">Miryala Rasam</span>
                      <span class="pull-right text-spl-color">$7.99</span>
                    </li>
                    <li class="clearfix">
                      <span class="pull-left">Mokkajonna Shorba</span>
                      <span class="pull-right text-spl-color">$8.45</span>
                    </li>
                    <li class="clearfix">
                      <span class="pull-left">Miryala Rasam</span>
                      <span class="pull-right text-spl-color">$7.99</span>
                    </li>
                    <li class="clearfix">
                      <span class="pull-left">Mokkajonna Shorba</span>
                      <span class="pull-right text-spl-color">$8.45</span>
                    </li>
                  </ul>
                <!-- Order Item List Ends -->
                <!-- Order Item Total Starts -->
                  <dl class="dl-horizontal order-item-total">
                    <dt class="text-light">Orders Amount :</dt>
                    <dd class="text-spl-color text-right">$30.45</dd>
                    <dt class="text-light">Delivery Charges :</dt>
                    <dd class="text-spl-color text-right">$5.00</dd>
                    <hr>
                    <dt class="text-bold">Total  Amount :</dt>
                    <dd class="text-bold text-spl-color text-right">$35.45</dd>
                  </dl>
                <!-- Order Item Total Ends -->
                  <p class="text-center text-light text-spl-color">Menu List of your Orders</p>
                </div>
              <!-- Order Content Ends -->
              </div>


      </div>

      </div>

          
       <!-- Spacer Starts -->
       <div class="spacer-1 condensed"></div>
       <!-- Spacer Ends -->


          <!-- the review section -->
      <div class="row justify-content-md-center">

        <div class="col-6 col-md-auto">

          <h3 class="main-heading-1 text-center-sm text-center-xs">
              Reviews
             </h3>

             <div class="reviews-tab-pane">
                <!-- Reviews Form Box Starts -->
                  <div class="reviews-form-box">
                    <h6>Write a Review</h6>
                    <form>
                      <textarea class="form-control" rows="4" placeholder="Message should be atleast 130 charecters"></textarea>
                      <div class="clearfix">
                        <ul class="list-unstyled list-inline rating-star pull-left">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                        <a href="#" class="btn btn-black animation text-uppercase pull-right">Submit</a>
                      </div>
                    </form>
                  </div>
                <!-- Reviews Form Box Ends -->

                    <!-- Spacer Starts -->
                  <div class="spacer-1 condensed"></div>
                  <!-- Spacer Ends -->

                <!-- Reviews List Starts -->
                  <div class="reviews-box">
                  <!-- Review #1 Starts -->
                    <div class="review-list">
                      <div class="clearfix">
                        <div class="pull-left">
                          <h6><i class="fa fa-calendar"></i> Mar 10, 2016</h6>
                          <h6>By Sainath Chillapuram</h6>
                          <ul class="list-unstyled list-inline rating-star-list">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                          </ul>
                        </div>
                        <img src="images/review-thumb-img1.png" alt="Image" class="img-responsive pull-right">
                      </div>
                      <div class="review-list-content">
                        <p>The delivery guy said he will be back in 10 mins with the missing items, but never came back. when I called the restaurant, they took another 30 mins to deliver.</p>
                      </div>
                    </div>
                  <!-- Review #1 Ends -->
                  <!-- Review #2 Starts -->
                    <div class="review-list">
                      <div class="clearfix">
                        <div class="pull-left">
                          <h6><i class="fa fa-calendar"></i> Mar 10, 2016</h6>
                          <h6>By Sainath Chillapuram</h6>
                          <ul class="list-unstyled list-inline rating-star-list">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                          </ul>
                        </div>
                        <img src="images/review-thumb-img1.png" alt="Image" class="img-responsive pull-right">
                      </div>
                      <div class="review-list-content">
                        <p>The delivery guy said he will be back in 10 mins with the missing items, but never came back. when I called the restaurant, they took another 30 mins to deliver.</p>
                      </div>
                    </div>
                  <!-- Review #2 Ends -->
                  
                <!-- Reviews List Ends -->


                <!-- Spacer Starts -->
                  <div class="spacer-1 condensed"></div>
                <!-- Spacer Ends -->
               
                </div>

            </div>
        </div>


</div>

