<div class = "container main-container">
  <h3 class="main-heading-1 text-center-sm text-center-xs">
   {{restaurant.name}}
  </h3>


   <!-- Spacer Starts -->
   <div class="spacer-1 condensed"></div>
   <!-- Spacer Ends -->


  <!--
    division for the table in the lefr and the chart for total price

   -->
 <div class= "row">



      <div class="col-md-9 col-xs-12">

          <h5 class="main-heading-2 text-center-sm text-center-xs ">
              Foods Available
             </h5>



          <table class="table table-hover h4  ">
              <thead class= "text-center">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Cuisines</th>
                  <th scope="col">Price</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let food of restaurant.foods" changeRowColor>
                  <th scope="row">{{food.id}}</th>
                  <td>{{food.name}}</td>
                  <td>{{food.cuisine}}</td>
                  <td>{{food.price}}</td>
                  <td>
                      <button  class="btn btn-info btn-md" (click)="addToCart(food)">
                          <span class="glyphicon glyphicon-shopping-cart"></span> Order
                        </button>
                  </td>
                </tr>

              </tbody>
            </table>
      </div>

      <div class="col-md-3 col-xs-12">

          <div class="side-block-order border-radius-4">
              <!-- Heading Starts -->
                <h6 class="text-center"><i class="fa fa-shopping-basket"></i> Your Orders</h6>
              <!-- Heading Ends -->
              <!-- Order Content Starts -->
                <div class="side-block-order-content">
                <!-- Order Item List Starts -->
                  <ul class="list-unstyled order-item-list">
                    
                    
                    <li class="clearfix" *ngFor="let item of cart">
                      <span class="pull-left">{{item.name}}</span>
                      <span class="pull-center text-spl-color pull-right">${{item.price}}</span>
                  
                        <button  class="btn btn-danger btn-sm pull-right" (click)="removeFromCart(item)">
                          <span class=" glyphicon glyphicon-remove-circle "></span> remove
                        </button>
                      
                    </li>
                   
                  </ul>
                <!-- Order Item List Ends -->
                <!-- Order Item Total Starts -->
                  <dl class="dl-horizontal order-item-total">
                    <dt class="text-light">Orders Amount :</dt>
                    <dd class="text-spl-color text-right">${{total}}</dd>
                    <dt class="text-light">Delivery Charges :</dt>
                    <dd class="text-spl-color text-right">${{deliveryCharge}}</dd>
                    <hr>
                    <dt class="text-bold">Total  Amount :</dt>
                    <dd class="text-bold text-spl-color text-right">${{total}}</dd>
                  </dl>
                <!-- Order Item Total Ends -->
                  <button class=" btn btn-success btn-large" 
                              (click)="onCheckout()" [routerLink]="['profile']">Checkout</button>
                </div>
              <!-- Order Content Ends -->
              </div>


      </div>

      </div>


       <!-- Spacer Starts -->
       <div class="spacer-1 condensed"></div>
       <!-- Spacer Ends -->


          <!-- the review section -->
      <div class="row justify-content-md-center">

        <div class="col-6 col-md-auto">

          <h3 class="main-heading-1 text-center-sm text-center-xs">
              Reviews
             </h3>

             <div class="reviews-tab-pane">
                <!-- Reviews Form Box Starts -->
                  <div class="reviews-form-box">
                    <h6>Write a Review</h6>
                    <form [formGroup]="reviewForm">
                      <textarea class="form-control" rows="4" 
                      placeholder="Message should be atleast 130 charecters"
                      formControlName= "review">

                      </textarea>
                      <!-- <div class="err" *ngIf="!form.controls['review'].valid">
                        * Required
                      </div> -->
                      <div class="clearfix">
                        <ul class="list-unstyled list-inline rating-star pull-left">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                        <button (click)="onReviewPost()" class="btn btn-sucess animation text-uppercase pull-right">Submit</button>
                      </div>
                    </form>
                  </div>
                <!-- Reviews Form Box Ends -->

                    <!-- Spacer Starts -->
                  <div class="spacer-1 condensed"></div>
                  <!-- Spacer Ends -->

                <!-- Reviews List Starts -->
                  <div class="reviews-box" *ngFor="let rev of reviews">
                  <!-- Review #1 Starts -->
                    <div class="review-list">
                      <div class="clearfix">
                        <div class="pull-left">
                          <h6><i class="fa fa-calendar"></i> {{rev.date | date:"MM/dd/yyyy"}}</h6>
                          <h6>{{rev.user}}</h6>
                          <ul class="list-unstyled list-inline rating-star-list">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                          </ul>
                        </div>
                      
                      </div>
                      <div class="review-list-content">
                        <p>{{rev.review}}</p>
                      </div>
                    </div>
                  <!-- Review #1 Ends -->
 <!-- Reviews List Ends -->


                <!-- Spacer Starts -->
                  <div class="spacer-1 condensed"></div>
                <!-- Spacer Ends -->

                </div>

            </div>
        </div>


</div>


<router-outlet></router-outlet>
