

<!-- these are all the static components in this version -->


<!--this is the introduction component that comes right after the search section-->
<app-intro-section></app-intro-section>

<!--This is the welcome section that basically is the static component showing
     the welcome message-->
<app-welcome-section></app-welcome-section>

<!-- this one is another static section in this version. this section is intended to 
display the news and the events description in this application-->
<app-news-and-events-section></app-news-and-events-section>

<!-- this section is for the mobile app. this section consists the pictures of our 
android and ios application and the link to the playstore and appstore. -->
<app-download-app-section></app-download-app-section>