<div class="container">

  <div class="row">

      <div class="col-lg-4 col-md-5 ">
          <div class="card card-user back-ground">
              <div class="image">
                  <img alt="..." src="assets/images/hotels/thumb/background.jpg">
              </div>
              <div class="content ">
                  <div class="author">
                    <img alt="..." class="avatar border-white" src="assets/images/face-2.jpg">
                    <h5 class="title">{{user.username}}<br>
                       
                    </h5>
                  </div>
                  <p class="description text-center">
                      "I like the way you work it <br>
                      No diggity <br>
                      I wanna bag it up"
                  </p>
              </div>
              <hr>
              <div class="text-center">
                  <div class="row">
                      <div class="col-md-3 col-md-offset-1">
                          <h5>12<br><small>Reviews</small></h5>
                      </div>
                      <div class="col-md-4">
                          <h5>{{totalOrders}}<br><small>Orders</small></h5>
                      </div>
                      <div class="col-md-3">
                          <h5>${{totalCost}}<br><small>Spent</small></h5>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>


      <!-- history-->
      <div class="col-lg-8 col-md-7 " >

          <div class="card ">
              <div class="header">
                  <h4 class="title">Previous orders</h4>
              </div>



              <div class="content back-ground">
                  <table class="table ">
                      <thead>
                          <tr>
                              <!----><th>Food ordered</th>
                                    <th>Restaurant used</th>
                                    <th>Date</th>
                                    <th>Cost</th>
                          </tr>
                      </thead>
                      <tbody>  
                        <tr *ngFor="let rec of user.food_ordered">
                              <td>{{rec.food.name}}</td>
                              <td>{{rec.restaurant_used}}</td>
                              <td>{{rec.date | date: "MM/dd/yyy"}}</td>
                              <td>{{rec.food.price}}</td>
                              
                        </tr>

                        <!-- <template let-group ngFor [ngForOf]="food_ordered">
                            <tr *ngFor=" row of group.items">{{row}}</tr>
                          </template> -->
                         
                      </tbody>
                  </table>

              </div>



            </div>
        </div>

    </div>

  </div>